# importing libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# importing dataset

In [3]:
df = pd.read_csv('aug_train.csv.zip')
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

# make a copy of the dataset for preprocessing

In [4]:
df_copy = df.copy()
df_copy.head();

# performing EDA on dataset

In [5]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [6]:
df_copy.isna().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64

In [7]:
for columns,contents in df_copy.items():
    if pd.api.types.is_numeric_dtype(contents):
        if pd.isna(contents).sum():
            df_copy[columns] = contents.fillna(contents.median())
            
for columns,contents in df_copy.items():
    if pd.api.types.is_string_dtype(contents):
        df_copy[columns] = pd.Categorical(contents).codes+1

In [8]:
df_copy.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,6,0.920,2,1,3,1,6,22,0,0,1,36,1.0
1,29725,78,0.776,2,2,3,1,6,7,5,6,5,47,0.0
2,11561,65,0.624,0,2,1,1,6,16,0,0,6,83,0.0
3,33241,15,0.789,0,2,0,1,2,21,0,6,6,52,1.0
4,666,51,0.767,2,1,3,3,6,22,5,2,4,8,0.0

# spliting dataset into X and Y

In [9]:
X = df_copy.drop('target',axis=1)
Y = df_copy['target']

# choosing model and training model and making prediction[*score*]

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
LR = LinearRegression()
RFC = RandomForestClassifier()

In [11]:
RFC.fit(X,Y)

RandomForestClassifier()

In [12]:
Pred = RFC.predict(X).astype(int)
Pred

array([1, 0, 0, ..., 0, 0, 0])

In [13]:
score = RFC.score(Y,Pred)

ValueError: Expected 2D array, got 1D array instead:
array=[1. 0. 0. ... 0. 0. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,scorer

In [ ]:
score = accuracy_score(Y,Pred)
score

In [ ]:
df_copy['target'].tail(50)

In [ ]:
from sklearn.model_selection import cross_val_score,cross_validate

In [ ]:
cr = cross_validate(estimator=RFC,
                    X=X,
                    y=Y,
                    cv=5,
                   verbose=2,)

In [ ]:
cr

In [ ]:
cv = cross_val_score(estimator=RFC,
                    X=X,
                    y=Y,
                    cv=5,
                   verbose=2,
                     n_jobs=-1
                    )

In [ ]:
cv

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
param = {
         'bootstrap':[True,False],
         'max_depth':[10,20,30,40,50,60,70,80,90,100,None],
         'max_features':['auto','sqrt'],
         'min_samples_leaf':[1,2,4],
         'min_samples_split':[2,5,10],
         'n_estimators':[20,50,100,400,500,1000,2500,2000]
        }

In [ ]:
RandomCV = RandomizedSearchCV(estimator=RFC,
                             param_distributions=param,
                             n_jobs=-1,
                             cv=5,
                             verbose=2
                             )